Para esta función vamos a utilizar el archivo dfSteamCleaned para obtener el nombre del desarrollador, el precio de los juegos y el año de lanzamiento.

In [1]:
import pandas as pd
import numpy as np

C:\Users\kanza\AppData\Local\Temp\ipykernel_4632\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('../dfSteamCleaned.csv')

C:\Users\kanza\AppData\Local\Temp\ipykernel_4632\1196029886.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../dfSteamCleaned.csv')

In [3]:
df

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",http://steamcommunity.com/app/773640/reviews/?...,"['Single-player', 'Steam Achievements']",1.99,0.0,773640.0,"Nikita ""Ghost_RUS""",2018.0
120440,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"['Strategy', 'Indie', 'Casual']",http://steamcommunity.com/app/733530/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,0.0,733530.0,Sacada,2018.0
120441,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"['Indie', 'Simulation', 'Racing']",http://steamcommunity.com/app/610660/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich,2018.0
120442,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",http://steamcommunity.com/app/658870/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,0.0,658870.0,"xropi,stev3ns",2017.0
120443,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,1.0,681550.0,NaN,0.0

Conservaremos las columnas id, developer, price y year

In [4]:
df = df[['id','developer','price','year']]

In [5]:
df

              id                 developer price    year
0            NaN                       NaN   NaN     0.0
1            NaN                       NaN   NaN     0.0
2            NaN                       NaN   NaN     0.0
3            NaN                       NaN   NaN     0.0
4            NaN                       NaN   NaN     0.0
...          ...                       ...   ...     ...
120439  773640.0        Nikita "Ghost_RUS"  1.99  2018.0
120440  733530.0                    Sacada  4.99  2018.0
120441  610660.0  Laush Dmitriy Sergeevich  1.99  2018.0
120442  658870.0             xropi,stev3ns  4.99  2017.0
120443  681550.0                       NaN  4.99     0.0

[120444 rows x 4 columns]

Convertiremos los precios a tipo float. Para ellos usaremos la función conversor que convertirá los valores con formato numérico a float y al resto los reemplazara por cero.

In [6]:
def conversor(x):
    try:
        x=float(x)
    except:
        x=0
    return x

In [7]:
df['price'] = df['price'].apply(conversor)

C:\Users\kanza\AppData\Local\Temp\ipykernel_4632\3203900517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = df['price'].apply(conversor)

In [8]:
df

              id                 developer  price    year
0            NaN                       NaN    NaN     0.0
1            NaN                       NaN    NaN     0.0
2            NaN                       NaN    NaN     0.0
3            NaN                       NaN    NaN     0.0
4            NaN                       NaN    NaN     0.0
...          ...                       ...    ...     ...
120439  773640.0        Nikita "Ghost_RUS"   1.99  2018.0
120440  733530.0                    Sacada   4.99  2018.0
120441  610660.0  Laush Dmitriy Sergeevich   1.99  2018.0
120442  658870.0             xropi,stev3ns   4.99  2017.0
120443  681550.0                       NaN   4.99     0.0

[120444 rows x 4 columns]

In [9]:
items = df.groupby(['developer','year'])['id'].count().reset_index(name='cantItems')
items

                developer    year  cantItems
0             +7 Software  2016.0          1
1      +Mpact Games, LLC.  2017.0          1
2                 .M.Y.W.  2016.0          1
3               .ez Games  2017.0          1
4          07th Expansion  2015.0          2
...                   ...     ...        ...
15033                萌石游戏  2017.0          1
15034             高考恋爱委员会  2015.0          1
15035        高考恋爱委员会,Days  2015.0          1
15036         高考恋爱委员会,橘子班  2015.0          1
15037         高考恋爱委员会,橘子班  2017.0          1

[15038 rows x 3 columns]

In [10]:
total_per_developer = df.groupby(['developer','year']).size().reset_index(name='items_per_year')
free_per_developer = df[df['price'] == 0].groupby(['year', 'developer']).size().reset_index(name='free_per_year')

In [11]:
resultado = pd.merge(total_per_developer, free_per_developer, on=['developer','year'], how='left')

In [12]:
resultado['free_per_year'] = resultado['free_per_year'].fillna(0)

In [13]:
resultado['free_per_year_percent']=resultado['free_per_year']/resultado['items_per_year']*100

In [14]:
resultado

,developer,year,items_per_year,free_per_year,free_per_year_percent
0,+7 Software,2016.0,1,0.0,0.0
1,"+Mpact Games, LLC.",2017.0,1,0.0,0.0
2,.M.Y.W.,2016.0,1,0.0,0.0
3,.ez Games,2017.0,1,0.0,0.0
4,07th Expansion,2015.0,2,0.0,0.0
...,...,...,...,...,...
15033,萌石游戏,2017.0,1,0.0,0.0
15034,高考恋爱委员会,2015.0,1,1.0,100.0
15035,"高考恋爱委员会,Days",2015.0,1,0.0,0.0
15036,"高考恋爱委员会,橘子班",2015.0,1,0.0,0.0
15037,"高考恋爱委员会,橘子班",2017.0,1,0.0,0.0

In [15]:
resultado.to_csv('developerResults.csv', index=False)